body {
    font-family: 'Times New Roman', 'SimSun', Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bgimg.png");
    z-index: -1;
}

.background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.circular-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}